.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  /* Ajuste o valor conforme necessário para alinhar verticalmente */
}

/* Adicione estilos personalizados à sua página */
.page-content {
  padding: 20px;
  /* Adicione espaço ao redor do conteúdo */
  background-color: #f4f4f4;
  /* Define uma cor de fundo para a página */
}

ion-list {
  margin-TOP: 50px;
  margin-bottom: 60px;
}

/* Estilos para os itens de entrada e botão */
ion-item,
ion-button {
  margin-bottom: 15px;
  /* Adicione espaço entre os itens */
}

/* Estilos para os ícones de pesquisa */
ion-icon[name="search-outline"] {
  margin-right: 8px;
  /* Adicione espaço entre o ícone e o texto do botão */
}

/* Centralize verticalmente o botão na página */
ion-button.shape-round {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

ion-button {
  width: 45%;
}

/* Adicione estilos personalizados à sua página */
.page-content {
  padding: 20px;
  /* Adicione espaço ao redor do conteúdo */
  background-color: #f4f4f4;
  /* Define uma cor de fundo para a página */
}


/* Estilos para a lista de escalas */
.list ion-item {
  margin-bottom: 10px;
}

ion-fab-button {
  width: 50px;
  height: 50px;
  --border-color: #000;
  // --border-style: solid;
  // --border-width: 3px;
  --background: var(--ion-color-primary);
}

// anmações filtro

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Adicione uma animação suave */
.filter-animation {
  animation: fadeInOut 0.4s ease;
}

ion-fab-button.active {
  transform: rotate(45deg);
  transition: transform .1s ease;
  animation: fadeInOut 0.5s ease;
}