.header-home-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding-right: 5px;
}

.header-home-h1 {
  display: flex;
  flex-direction: column;
}

h1 {
  flex: 1;
  font-size: 35px;
  text-align: justify;
  padding: 0 7px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}

ion-img {
  width: 130px;
  display: block;
  // flex: 1;
}



ion-footer {
  margin-bottom: 30px;
  box-shadow: none;
  padding: 0 15px;
}

ion-button {
  margin: 10px 0;
  font-size: 25px;
  height: 55px;
}



.custom-button {
  display: flex;
  justify-content: space-between;

  ion-icon {
    margin-right: 0px;
    fill: #000;
  }

  .button-text {
    flex-grow: 1;
    text-align: start;
    font-family: 'Archivo', sans-serif;
    text-transform: capitalize;
    color: black;
  }
}