<!-- <ion-header [translucent]="true">
  <ion-toolbar>


  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-img src="assets/logo-band-music.png" alt="The Wisconsin State Capitol building in Madison, WI at night">
  </ion-img>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->


</ion-content>

<ion-footer>
  <ion-button expand="block" fill="solid" class="icon-spacing">
    <ion-icon slot="end" src="assets/song-svgrepo-com.svg"></ion-icon>
    Músico
  </ion-button>
  <ion-button expand="block" fill="outline" class="icon-spacing">
    <ion-icon slot="end"></ion-icon>
    Líder
  </ion-button>
</ion-footer>