<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="menu-header-bg"></div>
    <ion-title> {{nomeBtn}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" [formGroup]="musicoForm" *ngIf="musicoForm" (ngSubmit)="submit()">
    <ion-item>



      <ion-input formControlName="nome" type="text" label="Nome do musico" labelPlacement="floating"></ion-input>

      <small class="error-message" *ngIf="musicoForm.get('nome')?.errors && form.submitted">
        Informe o nome (2 a 15 caracteres)
      </small>
    </ion-item>



    <ion-button style="position: fixed; bottom: 45px; width: 100vw;" expand="block" type="submit">
      {{nomeBtn}} musico
    </ion-button>
  </form>

  <ion-fab (click)="backPage('sel-musico')" slot="fixed" horizontal="end" vertical="bottom" style="bottom: 30px;">
    <ion-fab-button style="--border-color: black;--border-width:1px;--border-style: solid">
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button [disabled]="!modoEdit" style="position: fixed;bottom: 0; width: 100vw;" class="del-btn" color="danger"
    (click)="confirmDelete()" expand="block">
    Deletar Musico
  </ion-button>
</ion-content>