<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="vertical-center">
    <!-- <ion-button (click)="toEscalas()" color="secondary" expand="block" fill="outline"
      class="custom-button">Escala</ion-button>-->
    <ion-button (click)="toBanda()" color="secondary" expand="block" fill="outline"
      class="custom-button">Banda</ion-button>
    <!-- <ion-button (click)="toMusicas()" color="secondary" expand="block" fill="outline"
      class="custom-button">Musicas</ion-button>
    <ion-button (click)="toMusicos()" color="secondary" expand="block" fill="outline"
      class="custom-button">Músicos</ion-button>
    <ion-button (click)="toInstrumentos()" color="secondary" expand="block" fill="outline"
      class="custom-button">Instrumento</ion-button> -->
  </div>

  <ion-icon button (click)="backPage('leader-home')" class="back-btn" src="assets/back-btn.svg"></ion-icon>

</ion-content>