<ion-content [fullscreen]="true">
  <h1 style="margin-top: 30px;">Musico toca</h1>

  <ion-list lines="full">
    <ion-item *ngFor="let musicoIns of musicosInstrumentos; let i = index">
      <div>
        <ion-label>{{musicoIns.musico.nome}} - {{musicoIns.instrumento.nome}}</ion-label>
      </div>
      <ion-icon (click)="toAddEditMusicoIns(musicoIns.id)" slot="end" color="#000000" name="pencil-sharp"></ion-icon>
    </ion-item>
  </ion-list>


  <ion-fab (click)="toAddEditMusicoIns(-1)" slot="fixed" horizontal="start" vertical="bottom" style="bottom: 30px;">
    <ion-fab-button>
      <ion-icon size="large" name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab (click)="backPage('leader-home')" slot="fixed" horizontal="end" vertical="bottom" style="bottom: 30px;">
    <ion-fab-button>
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>