/* Evite comentários dentro do código que não sejam úteis para futuros desenvolvedores. */

/* Use variáveis para cores em todo o seu código para facilitar as alterações futuras. */
ion-toolbar {
  --padding-start: 10px;
  --padding-end: 10px;
}

.top-header-vld {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 40px 10px 0 5px;
  gap: 30px;
}

.top-img {
  width: 70px;
  height: 70px;

}

.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centraliza verticalmente */
  align-items: center;
  /* Centraliza horizontalmente */
}

ion-icon {
  fill: #000;
  margin: 0;
}


h4 {
  font-family: 'Archivo', sans-serif;
  color: #000;
  font-size: 18px;
}


.title-top {
  background: var(--ion-color-primary-grad);
  // background: none;
  // font-family: 'Archivo', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  padding: 10px;
  border: 3px solid black;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-bottom-left-radius: inherit;
}



/* Considerar refatorar regras semelhantes para manter o código mais limpo. */
ion-card {
  background-color: #fff;
  width: 90%;
  height: 130px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.2s ease-in-out;
  // margin-bottom: 8px;
  // margin-top: 20px;

  // &:hover {
  //   transform: scale(0.9);
  //   background: var(--ion-color-warning);
  //   transition: .3s;
  // }
}

.calendarios {
  width: 50px;
  height: 50px;
  margin: 0 0 12px 0;
}

ion-card-header {
  font-size: 20px;
}

ion-card-content,
ion-card-header {
  text-align: center;
}

ion-fab-button {
  width: 50px;
  height: 50px;
  --border-color: #000;
  // --border-style: solid;
  // --border-width: 3px;
  --background: var(--ion-color-primary);
}