@import '../../../theme/variables.scss';

ion-toolbar {
  --padding-start: 10px;
  --padding-end: 10px;
}

.text-top {
  font-family: 'Archivo', sans-serif;
  font-size: 15px;
}

.title-top {
  font-family: 'Archivo', sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.top-icon {
  width: 75px;
  height: 75px;
}

// .calendarios {
//   width: 50px;
//   height: 50px;
// }

ion-card {
  background-color: #fff;
  /* Cor de fundo do cartão */
  border-radius: 8px;
  /* Arredondamento das bordas do cartão */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra do cartão */
  transition: transform 0.2s ease-in-out;
  /* Efeito de transição suave */

  &:hover {
    transform: scale(1.02);
    /* Efeito de escala no hover */
  }
}

/* Estilo para o conteúdo do cartão (ícone e título) */
ion-card-content,
ion-card-header {
  text-align: center;
  /* Centralizar o texto horizontalmente */
}

/* Estilo para o ícone */
.calendarios {
  width: 70px;
  /* Largura do ícone */
  height: 70px;
  /* Altura do ícone */
  margin: 16px auto;
  /* Margem superior e inferior para centralizar verticalmente */
}

/*botão de voltar*/
.backbtn {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: var(--ion-color-primary);
}


/*icone de voltar*/
.icon-back {
  font-size: 4rem;
}