<ion-content [fullscreen]="true" class="content-center">

  <div class="top-header-vld">
    <ion-img class="top-img" src="assets/logo-band-music-smile.png"></ion-img>
    <ion-badge class="title-top" slot="start">Olá músico!</ion-badge>
  </div>

  <div style="display: flex; flex-direction: column; align-items: center; margin-top: 30px;">

    <ion-card button (click)="toViewEscala(1)">
      <ion-card-content>
        <ion-icon class="calendarios" src="assets/calendarMenor.svg"></ion-icon>
        <h4>Escala restante do mês</h4>
      </ion-card-content>
    </ion-card>

    <ion-card button (click)="toViewEscala(-1)">
      <ion-card-content>
        <ion-icon class="calendarios" src="assets/calendarMaior.svg"></ion-icon>
        <h4>Escala Geral</h4>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab (click)="backPage('home')" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>