@import '../../../theme/variables.scss';



.menu-header-bg {
  position: absolute;
  height: 120px;
  width: 100vw;
  background: var(--ion-color-primary-grad);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
  // border-radius: 35px;
  // transform: rotate(153deg);

}


.top-header-vld {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 25px 0 30px 0;
  padding-bottom: 4px;
}

h1 {
  font-size: 32px;
}

h5 {
  font-size: 23px;
}


.title-top {
  background: var(--ion-color-primary-grad);
  // background: none;
  // font-family: 'Archivo', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  padding: 10px;
  border: 3px solid black;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-bottom-left-radius: inherit;
}

.top-img {
  width: 85px;
  height: 85px;
}



.vertical-center {
  text-align: center;

  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

ion-fab-button {
  width: 50px;
  height: 50px;
  --border-color: #000;
  // --border-style: solid;
  // --border-width: 3px;
  --background: var(--ion-color-primary);
}

ion-icon {
  font-size: 36px;
}

ion-img {
  width: 36px;
  height: 36px;
}

ion-grid {
  margin-top: 20px;
}


ion-card {
  text-align: center;
  background-color: #fff;
  border-radius: 17.5px;
  border: 1px solid #000000;
  padding: 5px;
  /* Borda sólida de 1px na cor preta */
}

ion-card-content {
  padding-bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-card-header {
  padding: 12px 4px 8px 4px;
  color: #000;
  font-size: 14px;
}