<ion-content [fullscreen]="true" class="ion-align-items-center ion-justify-content-center">
  <div class="top-header-vld">
    <div class="header-home-h1">
      <h1 class="title-top">Olá</h1>
      <h1 class="title-top">Líder</h1>
    </div>

    <ion-img class="top-img" src="assets/logo-band-music-smile.png"></ion-img>
  </div>



  <div class="vertical-center">
    <ion-button (click)="toEscalas()" color="primary" expand="block" class="custom-button">Escala</ion-button>
    <ion-button (click)="toBandas()" color="primary" expand="block" class="custom-button">Banda</ion-button>
    <ion-button (click)="toMusicas()" color="primary" expand="block" class="custom-button">Musicas</ion-button>
    <ion-button (click)="toMusicos()" color="primary" expand="block" class="custom-button">Músicos</ion-button>
    <ion-button (click)="toInstrumentos()" color="primary" expand="block" class="custom-button">Instrumento</ion-button>
    <ion-button (click)="toMusicosInstrumentos()" color="primary" expand="block" class="custom-button">Musico
      Toca</ion-button>



    <ion-fab (click)="backPage('home')" slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button>
        <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>
</ion-content>