<ion-content [fullscreen]="true" class="ion-align-items-center ion-justify-content-center">
  <div class="top-header-vld">

    <ion-img class="top-img" src="assets/logo-band-music-smile.png"></ion-img>

    <ion-badge class="title-top" slot="start">
      Olá líder !
    </ion-badge>

  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">

        <ion-card button (click)="toEscalas()">
          <ion-card-content>
            <ion-icon src="assets/list-escala.svg"></ion-icon>
          </ion-card-content>
          <ion-card-header>
            Escalas
          </ion-card-header>
        </ion-card>

      </ion-col>

      <ion-col size="6">

        <ion-card button (click)="toBandas()">
          <ion-card-content>
            <ion-img src="assets/list-banda.png"></ion-img>
          </ion-card-content>
          <ion-card-header>
            Bandas
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">

        <ion-card button (click)="toMusicas()">
          <ion-card-content>
            <ion-icon src="assets/list-musica.svg"></ion-icon>
          </ion-card-content>
          <ion-card-header>
            Musicas
          </ion-card-header>
        </ion-card>

      </ion-col>

      <ion-col size="6">

        <ion-card button (click)="toMusicos()">
          <ion-card-content>
            <ion-img src="assets/list-musico.png"></ion-img>
          </ion-card-content>
          <ion-card-header>
            Musicos
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">

        <ion-card button (click)="toInstrumentos()">
          <ion-card-content>
            <ion-icon src="assets/list-instrumento.svg"></ion-icon>
          </ion-card-content>
          <ion-card-header>
            Instrumentos
          </ion-card-header>
        </ion-card>

      </ion-col>

      <ion-col size="6">

        <ion-card button (click)="toMusicosInstrumentos()">
          <ion-card-content>
            <ion-img src="assets/list-musico-toca.png"></ion-img>
          </ion-card-content>
          <ion-card-header>
            Musico Toca
          </ion-card-header>
        </ion-card>

      </ion-col>
    </ion-row>



  </ion-grid>


  <ion-fab (click)="backPage('home')" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!-- <div class="vertical-center">
    <ion-button  color="primary" expand="block" class="custom-button"
      fill="outline">Escala</ion-button>
    <ion-button  color="primary" expand="block" class="custom-button">Banda</ion-button>
    <ion-button  color="primary" expand="block" class="custom-button">Musicas</ion-button>
    <ion-button  color="primary" expand="block" class="custom-button">Músicos</ion-button>
    <ion-button  color="primary" expand="block" class="custom-button">Instrumento</ion-button>
    <ion-button  color="primary" expand="block" class="custom-button">Musico
      Toca</ion-button>



   

  </div> -->
</ion-content>