<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-edit-musico-instrumento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" [formGroup]="musicoInstrumentoForm" *ngIf="musicoInstrumentoForm" (ngSubmit)="submit()">


    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Musico</ion-label>
        <ion-select formControlName="musico" [placeholder]="musicoNome">
          <!--coloca value aqui mas da erro-->
          <ion-select-option *ngFor="let musico of musicos" [value]="musico">{{musico.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <small class="error-message"
        *ngIf="musicoInstrumentoForm?.get('musicoNome')?.hasError('required') && form.submitted">
        Selecione uma equipe
      </small>

    </ion-list>





    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Instrumento</ion-label>
        <ion-select formControlName="instrumento" [placeholder]="instrumentoNome">
          <!--coloca value aqui mas da erro-->
          <ion-select-option *ngFor="let instrumento of instrumentos"
            [value]="instrumento">{{instrumento.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <small class="error-message"
        *ngIf="musicoInstrumentoForm?.get('instrumentoNome')?.hasError('required') && form.submitted">
        Selecione uma equipe
      </small>

    </ion-list>





    <ion-button expand="block" type="submit">
      {{nomeBtn}}
    </ion-button>
  </form>

  <ion-fab (click)="backPage('sel-musico-instrumento')" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>