<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Musico instrumento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" [formGroup]="musicoInstrumentoForm" *ngIf="musicoInstrumentoForm" (ngSubmit)="submit()">


    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Musico</ion-label>
        <ion-select (ionChange)="changeSelectBtn()" formControlName="musico" [placeholder]="musicoNome">
          <!--coloca value aqui mas da erro-->
          <ion-select-option *ngFor="let musico of musicos" [value]="musico">{{musico.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <small class="error-message" *ngIf="musicoInstrumentoForm?.get('musico')?.hasError('required') && form.submitted">
        Selecione uma equipe
      </small>

    </ion-list>





    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked">Instrumento</ion-label>
        <ion-select (ionChange)="changeSelectBtn()" formControlName="instrumento" [placeholder]="instrumentoNome">
          <!--coloca value aqui mas da erro-->
          <ion-select-option *ngFor="let instrumento of instrumentos"
            [value]="instrumento">{{instrumento.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <small class="error-message"
        *ngIf="musicoInstrumentoForm?.get('instrumento')?.hasError('required') && form.submitted">
        Selecione uma equipe
      </small>

    </ion-list>





    <ion-button expand="block" [disabled]="!changeBtn" type="submit">
      {{nomeBtn}}
    </ion-button>
  </form>

  <ion-fab (click)="backPage('sel-musico-instrumento')" slot="fixed" horizontal="end" vertical="bottom"
    style="bottom: 30px;">
    <ion-fab-button>
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <!--modallllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll-->

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content>
        <div class="modal-content">
          <ion-img src="assets/logo-band-music-smile-error.png"></ion-img>

          <H1>OPS...</H1>
          <h6>Este músico/instrumento já está registrado. Por favor, procure na lista ou tente novamente.</h6>

        </div>


        <ion-fab (click)="backPage('sel-musico-instrumento')" slot="fixed" horizontal="end" vertical="bottom"
          style="bottom: 30px;">
          <ion-fab-button>
            <!-- <ion-icon size="large" src="assets/back-btn.svg"></ion-icon> -->
            voltar
          </ion-fab-button>
        </ion-fab>
      </ion-content>

    </ng-template>
  </ion-modal>


</ion-content>