<ion-content [fullscreen]="true">
  <ion-text color="secondary">
    <h1>Login</h1>
  </ion-text>


  <form (ngSubmit)="submit()">


    <ion-input type="text" label="Nome" labelPlacement="floating"></ion-input>

    <ion-input type="password" label="Senha" labelPlacement="floating"></ion-input>

    <ion-button (click)="verificaLogin('bottom')" expand="block">Entrar</ion-button>

  </form>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon size="large" (click)="backPage('home')" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>