<ion-content [fullscreen]="true">

  <ion-text>
    <h1>Login</h1>
  </ion-text>

  <form (ngSubmit)="submit()">


    <ion-input type="text" label="Usuário" labelPlacement="floating"></ion-input>

    <ion-input type="password" label="Senha" labelPlacement="floating"></ion-input>

    <ion-button shape="round" (click)="verificaLogin('bottom')" expand="block">Entrar</ion-button>

  </form>

  <ion-fab (click)="backPage('home')" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>