<ion-content [fullscreen]="true" class="ion-text-center page-content">
  <h1 style="margin-top: 20px;">Escalas</h1>

  <ion-item *ngIf="idParam < 0">
    <ion-label position="stacked">INÍCIO</ion-label>
    <ion-input [(ngModel)]="dataInicio" type="text" placeholder="Data início (DD/MM/AAAA)"></ion-input>
  </ion-item>

  <ion-item *ngIf="idParam < 0">
    <ion-label position="stacked">FIM</ion-label>
    <ion-input [(ngModel)]="dataFim" type="text" placeholder="Data fim (DD/MM/AAAA)"></ion-input>
  </ion-item>

  <ion-button *ngIf="idParam < 0" shape="round" (click)="filterData()">
    <ion-icon slot="start" name="search-outline"></ion-icon> Filtrar
  </ion-button>

  <!--////////////////////////////////////////////////////////////////////////-->
  <div class="infos">
    <h6>Banda</h6>
    <h6>Data</h6>
    <h6>D.Sem</h6>
  </div>
  <ion-list style="margin-bottom: 80px;" lines="full">
    <ion-item (click)="abrirModal(escala)" button *ngFor="let escala of filteredEscalas; let i = index">
      <!-- <div slot="start"> -->
      <ion-text style="text-align: start;" class="val-one ">{{escala.banda.nome}}</ion-text>
      <!-- </div> -->
      <ion-text class="val-one">
        {{escala.data[2]}}/{{escala.data[1]}}
        <!-- {{escala.data[1]}}/{{escala.data[0]}} -->
      </ion-text>
      <ion-text style="text-align: end;" class="val-one">
        {{getDiaDaSemana(parseDate(escala.data[2] + '/' +
        escala.data[1] + '/' + escala.data[0]))}}
      </ion-text>

    </ion-item>
  </ion-list>


  <ion-fab (click)="backPage('view-home')" slot="fixed" horizontal="end" vertical="bottom" style="bottom: 30px;">
    <ion-fab-button>
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <h1 style="font-size: 38px;">Detalhes</h1>
        <ion-buttons slot="end">
          <ion-button color="primary" fill="solid" (click)="fecharModal()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div style="margin-top: 40px;margin-bottom: 60px; align-items: flex-start; padding: 0 20px;"
        class="modal-content">
        <ion-note class="modal-title">{{ selectedEscala.banda.nome }}</ion-note>
        <ion-note class="modal-date">{{ selectedEscala.data[2] }}/{{ selectedEscala.data[1] }}/{{ selectedEscala.data[0]
          }}</ion-note>

        <ion-note class="modal-d-sem">
          {{getDiaDaSemana(parseDate(selectedEscala.data[2] + '/' +
          selectedEscala.data[1] + '/' + selectedEscala.data[0]))}}</ion-note>

        <h6 style="margin-top: 55px; ">Músicos</h6>

        <ion-list lines="none" style="width: 100%; text-align: center; padding: 0;position: relative; left: -15px;">
          <ion-item *ngFor="let item of musicosInstrumentos">
            <ion-label style=" color: #666666;">
              {{ item.musico.nome }}
            </ion-label>
            <ion-label style="text-align: end;color: #666666;">
              {{ item.instrumento.nome }}
            </ion-label>
          </ion-item>
        </ion-list>

        <h6 style="margin-top: 55px;">Musicas</h6>
        <ion-list lines="none" style="width: 100%; text-align: center; padding: 0;position: relative; left: -15px;">
          <ion-item *ngFor="let music of musicas">
            <div>
              <ion-label style="text-align: start; color: #000;">{{music.nome}}</ion-label>
              <ion-label style="text-align: start; font-size: 12px;color: #666666;"
                class="autor">{{music.autor}}</ion-label>
            </div>
          </ion-item>
        </ion-list>
      </div>

    </ion-content>

  </ng-template>
</ion-modal>