<ion-content [fullscreen]="true" class="ion-text-center page-content">
  <h1 style="margin-top: 20px;">Escalas</h1>

  <ion-item *ngIf="idParam < 0">
    <ion-label position="stacked">INÍCIO</ion-label>
    <ion-input [(ngModel)]="dataInicio" type="text" placeholder="Data início (DD/MM/AAAA)"></ion-input>
  </ion-item>

  <ion-item *ngIf="idParam < 0">
    <ion-label position="stacked">FIM</ion-label>
    <ion-input [(ngModel)]="dataFim" type="text" placeholder="Data fim (DD/MM/AAAA)"></ion-input>
  </ion-item>

  <ion-button *ngIf="idParam < 0" shape="round" (click)="filterData()">
    <ion-icon slot="start" name="search-outline"></ion-icon> Filtrar
  </ion-button>

  <!--////////////////////////////////////////////////////////////////////////-->
  <div class="infos">
    <h6>Banda</h6>
    <h6>Data</h6>
    <h6>D.Sem</h6>
  </div>
  <ion-list lines="full">
    <ion-item button *ngFor="let escala of filteredEscalas; let i = index">
      <!-- <div slot="start"> -->
      <ion-text style="text-align: start;" class="val-one ">{{escala.banda.nome}}</ion-text>
      <!-- </div> -->
      <ion-text class="val-one">
        {{escala.data[2]}}/{{escala.data[1]}}
        <!-- {{escala.data[1]}}/{{escala.data[0]}} -->
      </ion-text>
      <ion-text style="text-align: end;" class="val-one">
        {{getDiaDaSemana(parseDate(escala.data[2] + '/' +
        escala.data[1] + '/' + escala.data[0]))}}
      </ion-text>


      <!-- <ion-icon (click)="toAddEditEscala(escala.id)" slot="end" color="#000" name="pencil-sharp"></ion-icon> -->
    </ion-item>
  </ion-list>

  <ion-fab (click)="backPage('view-home')" slot="fixed" horizontal="end" vertical="bottom" style="bottom: 30px;">
    <ion-fab-button>
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>