ion-button {
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-size: 55px;
  font-family: 'Roboto Flex', sans-serif;
  color: #000;

}

h6 {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.185);

}

.menu-header-bg {
  position: absolute;
  height: 200px;
  width: 361px;
  background: linear-gradient(-90deg, #FBBF00 0%, #FFA900 100%);
  background: var(--ion-color-primary-grad);
  top: -24px;
  box-shadow: 0px 1px 10px rgba(140, 131, 3, 0.5);
  margin-bottom: 60px;
  transform: rotate(153deg);

}

.infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 20px;
}

ion-text {
  margin: 0;
}

.val-one {
  flex: 1;
  text-align: center;
}

ion-fab-button {
  width: 50px;
  height: 50px;
  --border-color: #000;
  // --border-style: solid;
  // --border-width: 3px;
  --background: var(--ion-color-primary);
}

//modal
/* No seu arquivo .css ou .scss */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  margin-top: 20px;
  height: 100%;
  /* Isso garante que o conteúdo ocupe a altura total do modal. */
}

.modal-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #000;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.185);
  padding-right: 10px;
  border-right: 3px solid var(--ion-color-primary);
  /* Adicione espaço entre o título e a data. */
}

.modal-date {
  font-size: 22px;
  text-align: center;
}

.modal-d-sem {
  font-size: 15px;
  font-weight: 600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #666666af;
  margin-top: 5px;
}

//animação filtros

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Adicione uma animação suave */
.filter-animation {
  animation: fadeInOut 0.4s ease;
}

ion-fab-button.active {
  transform: rotate(45deg);
  transition: transform .1s ease;
  animation: fadeInOut 0.5s ease;
}