<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar Bandas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item *ngFor="let banda of bandas; let i = index">
      <div>
        <ion-label>{{banda.nome}}</ion-label>
      </div>
      <ion-icon (click)="setOpen(true); selectedBandaIndex = i" slot="end" color="#000" name="pencil"></ion-icon>
    </ion-item>
  </ion-list>

  <!-- MODAL ----------------------------------------------- -->

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Banda </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Fechar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <form #form="ngForm" [formGroup]="bandaForm" (ngSubmit)="submit(selectedBandaIndex)">

          <ion-item lines="none">
            <ion-input formControlName="nome" type="text" label="Mudar nome da Banda"
              labelPlacement="floating"></ion-input>
            <small class="error-message" *ngIf="bandaForm.get('nome')?.errors && form.submitted">
              Informe o nome (2 a 20 caracteres)
            </small>
          </ion-item>
          <ion-button expand="block" type="submit">
            Alterar
          </ion-button>
        </form>


      </ion-content>
      <ion-footer>
        <ion-button class="del-btn" color="danger" (click)="delete(selectedBandaIndex)" expand="block">
          Deletar Banda
        </ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>