<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> {{nomeBtn}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" [formGroup]="instrumentoForm" *ngIf="instrumentoForm" (ngSubmit)="submit()">
    <ion-item>



      <ion-input formControlName="nome" type="text" label="Nome do instrumento" labelPlacement="floating"></ion-input>

      <small class="error-message" *ngIf="instrumentoForm.get('nome')?.errors && form.submitted">
        Informe o nome (2 a 20 caracteres)
      </small>
    </ion-item>



    <ion-button expand="block" type="submit">
      {{nomeBtn}}
    </ion-button>
  </form>
  <ion-fab (click)="backPage('sel-instrumento')" slot="fixed" horizontal="end" vertical="bottom" style="bottom: 30px;">
    <ion-fab-button>
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="modoEdit">
  <ion-button class="del-btn" color="danger" (click)="confirmDelete()" expand="block">
    Deletar Instrumento
  </ion-button>
</ion-footer>