<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="menu-header-bg"></div>
    <ion-title> {{nomeBtn}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" [formGroup]="escalaForm" *ngIf="escalaForm" (ngSubmit)="submit()">

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Banda</ion-label>
        <ion-select formControlName="banda" [placeholder]="obj.nome"> <!--coloca value aqui mas da erro-->
          <ion-select-option *ngFor="let banda of bandas" [value]="banda">{{banda.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <small class="error-message" *ngIf="escalaForm?.get('banda')?.hasError('required') && form.submitted">
        Selecione uma equipe
      </small>

    </ion-list>
    <ion-datetime class="custom-input" formControlName="data"></ion-datetime>

    <!---->
    <ion-list lines="full" style="margin-top: 30px;">

      <ion-item style="text-align: center;" *ngFor="let mu of musicasDaNoite; let i = index">

        <div>
          <ion-label style="text-align: start;">{{mu.nome}}</ion-label>
          <ion-label style="text-align: start;" class="autor">{{mu.autor}}</ion-label>
        </div>

        <ion-button slot="end" fill="clear" (click)="retirarMusicoInstrumento(i)">
          <ion-icon style="font-size: 25px; color: black;" name="close-circle-outline"></ion-icon>
        </ion-button>

      </ion-item>

    </ion-list>

    <!---->


    <div style="display: flex;" *ngIf="modoEdit">
      <ion-list lines="full" style="width: 80%;">
        <ion-item>
          <ion-select (ionChange)="atribuirValorSelecionado($event)" placeholder="Musicas">
            <ion-select-option *ngFor="let musica of musicas" [value]="musica">
              <div class="limited-text">{{musica.nome}} - {{musica.autor}}</div>
            </ion-select-option>

          </ion-select>

        </ion-item>

      </ion-list>

      <ion-button fill="clear" (click)="colocarMusica()">
        <ion-icon name="checkmark-done-circle-outline" style="font-size: 32px;"></ion-icon>
      </ion-button>


    </div>

    <ion-button [disabled]="!escalaForm.valid" expand="block" type="submit">
      {{nomeBtn}}
    </ion-button>
  </form>


  <ion-fab (click)="backPage('sel-escala')" slot="fixed" horizontal="end" vertical="bottom" style="bottom: 30px;">
    <ion-fab-button style="--border-color: black;--border-width:1px;--border-style: solid">
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button style="margin-top: 50px;" *ngIf="modoEdit" class="del-btn" color="danger" (click)="confirmDelete()"
    expand="block">
    Deletar Escala
  </ion-button>
</ion-content>