<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar banda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" [formGroup]="bandaForm" *ngIf="bandaForm" (ngSubmit)="submit()">
    <ion-item>

      <!-- <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input> -->

      <ion-input formControlName="nome" type="text" label="Nome da Banda" labelPlacement="floating"></ion-input>

      <small class="error-message" *ngIf="bandaForm.get('nome')?.errors && form.submitted">
        Informe o nome (2 a 15 caracteres)
      </small>
    </ion-item>



    <ion-button expand="block" type="submit">
      {{nomeBtn}}
    </ion-button>
  </form>

  <ion-list lines="full" style="margin-top: 30px;">
    <ion-item *ngFor="let musicoInstrumentoBanda of musicosInstrumentosBanda">
      <!-- <ion-label>{{ musicoInstrumentoBanda.musicoInstrumento.musico.nome }}</ion-label> -->
      <!-- <ion-label>{{ musicoInstrumento.musicoInstrumento.instrumento.nome }}</ion-label> -->
    </ion-item>
  </ion-list>


  <ion-fab (click)="backPage('sel-banda')" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="modoEdit">
  <ion-button class="del-btn" color="danger" (click)="confirmDelete()" expand="block">
    Deletar Banda
  </ion-button>
</ion-footer>