<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>add-edit-banda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" [formGroup]="bandaForm" *ngIf="bandaForm" (ngSubmit)="submit()">
    <ion-item>

      <!-- <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input> -->

      <ion-input formControlName="nome" type="text" label="Nome da Banda" labelPlacement="floating"></ion-input>

      <small class="error-message" *ngIf="bandaForm.get('nome')?.errors && form.submitted">
        Informe o nome (2 a 15 caracteres)
      </small>
    </ion-item>



    <ion-button expand="block" type="submit">
      {{nomeBtn}}
    </ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-button class="del-btn" color="danger" (click)="confirmDelete()" expand="block">
    Deletar Banda
  </ion-button>
</ion-footer>