<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Escalas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="custom-div">




    <ion-list *ngFor="let noite of noites" lines="full">
      <ion-item>
        <ion-text slot="start">
          {{noite.banda.nome}}
        </ion-text>
        <ion-text slot="end">
          {{noite.data[2]}}/{{noite.data[1]}}/{{noite.data[0]}}
        </ion-text>
        <ion-icon (click)="setOpen(true, noite.id)" slot="end" size="large" color="#000" name="pencil"></ion-icon>

      </ion-item>

    </ion-list>
  </div>



  <!-- MODAL ----------------------------------------------- -->

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Escala</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false,-1)">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <!-- <ion-content class="ion-padding"> -->
      <ion-content>

        <form #form="ngForm" [formGroup]="escalaForm" (ngSubmit)="submit(noiteId)">
          <ion-list>
            <ion-item>

              <!-- <ion-select [value]="bandas[selectedBandaDTO.id - 1]" (ionChange)="ionSelectChange(value)"> -->
              <ion-select [value]="bandas[selectedBandaDTO.id - 1]" (ionChange)="ionSelectChange($event)">

                <!-- <ion-select [value]="bandas[noites[noiteId].banda.id]" (ionChange)="ionSelectChange()"> -->

                <ion-select-option [value]="banda" *ngFor="let banda of bandas">{{banda.nome}}</ion-select-option>
              </ion-select>
              <small class="error-message" *ngIf="escalaForm.get('banda')?.errors && form.submitted">
                Sem alteração, sem poder de envio
              </small>

            </ion-item>
          </ion-list>

          <ion-datetime class="custom-input" formControlName="data" (ionChange)="ionDateChange()"></ion-datetime>


          <ion-button [disabled]="!selectChange" expand="block" type="submit">
            Alterar
          </ion-button>
        </form>
      </ion-content>


      <!-- <ion-footer>
        <ion-button class="del-btn" color="danger" (click)="delete(selectedBandaIndex)" expand="block">
          Deletar Banda
        </ion-button>
      </ion-footer> -->
    </ng-template>
  </ion-modal>

  <ion-fab (click)="backPage('edit-general')" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon size="large" src="assets/back-btn.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>