<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Escalas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let noite of noites" lines="full">
    <ion-item>
      <ion-text slot="start">
        {{noite.banda.nome}}
      </ion-text>
      <ion-text slot="end">
        {{noite.data[2]}}/{{noite.data[1]}}/{{noite.data[0]}}
      </ion-text>
      <ion-icon (click)="setOpen(true, noite.id)" slot="end" color="#000" name="pencil"></ion-icon>

    </ion-item>

  </ion-list>


  <!-- MODAL ----------------------------------------------- -->

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Escala</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false,-1)">Cancelar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <form #form="ngForm" [formGroup]="escalaForm" (ngSubmit)="submit(noiteId)">
          <ion-list>
            <ion-item>
              <ion-select formControlName="banda" (ionChange)="ionSelectChange()" [placeholder]="selectedBandaDTO.nome">
                <ion-select-option [value]="banda" *ngFor="let banda of bandas">{{banda.nome}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

          <ion-datetime formControlName="data"></ion-datetime>
          <ion-button [disabled]="!selectChange" expand="block" type="submit">
            Alterara
          </ion-button>
        </form>
      </ion-content>

      <!-- <ion-footer>
        <ion-button class="del-btn" color="danger" (click)="delete(selectedBandaIndex)" expand="block">
          Deletar Banda
        </ion-button>
      </ion-footer> -->
    </ng-template>
  </ion-modal>

</ion-content>