<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastrar Banda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" [formGroup]="bandaForm" (ngSubmit)="submit()">

    <ion-item lines="none">
      <ion-input formControlName="nome" type="text" label="Nome da Banda" labelPlacement="floating"></ion-input>
      <small class="error-message" *ngIf="bandaForm.get('nome')?.errors && form.submitted">
        Informe o nome (2 a 20 caracteres)
      </small>
    </ion-item>
    <ion-button expand="block" type="submit">
      Registrar
    </ion-button>
  </form>

  <ion-icon button (click)="backPage('register-general')" class="back-btn" src="assets/back-btn.svg"></ion-icon>

</ion-content>